Turnstile Data Analysis

In [78]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from IPython.display import Image

# enables inline plots, without it plots don't show up in the notebook
%matplotlib inline

In [79]:
df1 = pd.read_csv('data/turnstile_160507.txt')
df2 = pd.read_csv('data/turnstile_160514.txt')
df3 = pd.read_csv('data/turnstile_160521.txt')
df4 = pd.read_csv('data/turnstile_160528.txt')

In [80]:
df = df1.append([df2, df3, df4], ignore_index=True)

In [81]:
len(df)

777938

In [82]:
entriesTally = [0]
exitsTally = [0]
count = 1
while count < len(df):
    if df.iloc[count][2] == df.iloc[count-1][2]:
        entriesTally.append(df.iloc[count][9] - df.iloc[count-1][9])
        exitsTally.append(df.iloc[count][10]-df.iloc[count-1][10])
    else:
        entriesTally.append(0)
        exitsTally.append(0)
    count = count+1

In [83]:
dfEntries = pd.DataFrame({'TalliedEntries': entriesTally})
dfExits = pd.DataFrame({'TalliedExits': exitsTally})

In [75]:
df = pd.concat([df,dfEntries], axis=1)
df = pd.concat([df,dfExits], axis=1)

In [86]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,00:00:00,REGULAR,5639941,1909983
1,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,04:00:00,REGULAR,5639991,1909993
2,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,08:00:00,REGULAR,5640014,1910024
3,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,12:00:00,REGULAR,5640158,1910134
4,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,16:00:00,REGULAR,5640454,1910197