Turnstile Data Analysis

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from IPython.display import Image

# enables inline plots, without it plots don't show up in the notebook
%matplotlib inline

/Users/rosiehoyem/anaconda2/envs/py35/lib/python3.5/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')
/Users/rosiehoyem/anaconda2/envs/py35/lib/python3.5/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [4]:
df = pd.read_csv('data/turnstile_160507.txt')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194466 entries, 0 to 194465
Data columns (total 11 columns):
C/A                                                                     194466 non-null object
UNIT                                                                    194466 non-null object
SCP                                                                     194466 non-null object
STATION                                                                 194466 non-null object
LINENAME                                                                194466 non-null object
DIVISION                                                                194466 non-null object
DATE                                                                    194466 non-null object
TIME                                                                    194466 non-null object
DESC                                                                    194466 non-null object
ENTRIES                                                                 194466 non-null int64
EXITS                                                                   194466 non-null int64
dtypes: int64(2), object(9)
memory usage: 16.3+ MB

In [6]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,00:00:00,REGULAR,5639941,1909983
1,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,04:00:00,REGULAR,5639991,1909993
2,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,08:00:00,REGULAR,5640014,1910024
3,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,12:00:00,REGULAR,5640158,1910134
4,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,16:00:00,REGULAR,5640454,1910197

In [8]:
df.shape

(194466, 11)

In [11]:
df.groupby('STATION').count()

,C/A,UNIT,SCP,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
STATION,,,,,,,,,,
1 AV,430,430,430,430,430,430,430,430,430,430
103 ST,627,627,627,627,627,627,627,627,627,627
103 ST-CORONA,405,405,405,405,405,405,405,405,405,405
104 ST,378,378,378,378,378,378,378,378,378,378
110 ST,264,264,264,264,264,264,264,264,264,264
111 ST,666,666,666,666,666,666,666,666,666,666
116 ST,928,928,928,928,928,928,928,928,928,928
116 ST-COLUMBIA,252,252,252,252,252,252,252,252,252,252
121 ST,210,210,210,210,210,210,210,210,210,210
125 ST,1819,1819,1819,1819,1819,1819,1819,1819,1819,1819
135 ST,955,955,955,955,955,955,955,955,955,955
137 ST CITY COL,420,420,420,420,420,420,420,420,420,420
138/GRAND CONC,124,124,124,124,124,124,124,124,124,124
14 ST,1804,1804,1804,1804,1804,1804,1804,1804,1804,1804
14 ST-UNION SQ,1592,1592,1592,1592,1592,1592,1592,1592,1592,1592
145 ST,804,804,804,804,804,804,804,804,804,804
149/GRAND CONC,294,294,294,294,294,294,294,294,294,294
14TH STREET,433,433,433,433,433,433,433,433,433,433
15 ST-PROSPECT,420,420,420,420,420,420,420,420,420,420
155 ST,336,336,336,336,336,336,336,336,336,336
157 ST,336,336,336,336,336,336,336,336,336,336
161/YANKEE STAD,1562,1562,1562,1562,1562,1562,1562,1562,1562,1562
163 ST-AMSTERDM,252,252,252,252,252,252,252,252,252,252
167 ST,504,504,504,504,504,504,504,504,504,504
168 ST,846,846,846,846,846,846,846,846,846,846
169 ST,630,630,630,630,630,630,630,630,630,630
170 ST,588,588,588,588,588,588,588,588,588,588
174 ST,252,252,252,252,252,252,252,252,252,252
174-175 STS,378,378,378,378,378,378,378,378,378,378
175 ST,671,671,671,671,671,671,671,671,671,671
...,...,...,...,...,...,...,...,...,...,...
SUTPHIN BLVD,420,420,420,420,420,420,420,420,420,420
SUTPHIN-ARCHER,572,572,572,572,572,572,572,572,572,572
SUTTER AV,84,84,84,84,84,84,84,84,84,84
SUTTER AV-RUTLD,135,135,135,135,135,135,135,135,135,135
THIRTY ST,683,683,683,683,683,683,683,683,683,683
THIRTY THIRD ST,680,680,680,680,680,680,680,680,680,680
TIMES SQ-42 ST,2149,2149,2149,2149,2149,2149,2149,2149,2149,2149
TOMPKINSVILLE,292,292,292,292,292,292,292,292,292,292
TREMONT AV,385,385,385,385,385,385,385,385,385,385
TWENTY THIRD ST,356,356,356,356,356,356,356,356,356,356
UNION ST,249,249,249,249,249,249,249,249,249,249
UTICA AV,546,546,546,546,546,546,546,546,546,546
V.CORTLANDT PK,168,168,168,168,168,168,168,168,168,168
VAN SICLEN AV,306,306,306,306,306,306,306,306,306,306
VAN SICLEN AVE,126,126,126,126,126,126,126,126,126,126
VERNON-JACKSON,546,546,546,546,546,546,546,546,546,546
W 4 ST-WASH SQ,810,810,810,810,810,810,810,810,810,810
W 8 ST-AQUARIUM,336,336,336,336,336,336,336,336,336,336
WAKEFIELD/241,210,210,210,210,210,210,210,210,210,210
WALL ST,2110,2110,2110,2110,2110,2110,2110,2110,2110,2110
WEST FARMS SQ,378,378,378,378,378,378,378,378,378,378
WESTCHESTER SQ,126,126,126,126,126,126,126,126,126,126
WHITEHALL S-FRY,792,792,792,792,792,792,792,792,792,792
WHITLOCK AV,252,252,252,252,252,252,252,252,252,252
WINTHROP ST,176,176,176,176,176,176,176,176,176,176
WOODHAVEN BLVD,802,802,802,802,802,802,802,802,802,802
WOODLAWN,210,210,210,210,210,210,210,210,210,210
WORLD TRADE CTR,462,462,462,462,462,462,462,462,462,462
YORK ST,124,124,124,124,124,124,124,124,124,124
ZEREGA AV,258,258,258,258,258,258,258,258,258,258