Turnstile Data Analysis

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from IPython.display import Image

# enables inline plots, without it plots don't show up in the notebook
%matplotlib inline

In [7]:
##loading 4 weeks of data: May of 2016

df1 = pd.read_csv('data/turnstile_160507.txt')
df2 = pd.read_csv('data/turnstile_160514.txt')
df3 = pd.read_csv('data/turnstile_160521.txt')
df4 = pd.read_csv('data/turnstile_160528.txt')

In [8]:
##joining the individual dataframes into a master df
df = df1.append([df2, df3, df4], ignore_index=True)

In [9]:
len(df)

777938

In [10]:
entriesTally = [0]
exitsTally = [0]
count = 1
while count < len(df):
    if df.iloc[count][2] == df.iloc[count-1][2]:
        entriesTally.append(df.iloc[count][9] - df.iloc[count-1][9])
        exitsTally.append(df.iloc[count][10]-df.iloc[count-1][10])
    else:
        entriesTally.append(0)
        exitsTally.append(0)
    count = count+1

In [11]:
dfEntries = pd.DataFrame({'TalliedEntries': entriesTally})
dfExits = pd.DataFrame({'TalliedExits': exitsTally})

In [12]:
df = pd.concat([df,dfEntries], axis=1)
df = pd.concat([df,dfExits], axis=1)

In [13]:
df = df.sort(['C/A','UNIT','SCP','DATE','TIME'])

/Users/connor/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [17]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,TalliedEntries,TalliedExits
0,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,00:00:00,REGULAR,5639941,1909983,0,0
1,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,04:00:00,REGULAR,5639991,1909993,50,10
2,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,08:00:00,REGULAR,5640014,1910024,23,31
3,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,12:00:00,REGULAR,5640158,1910134,144,110
4,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,16:00:00,REGULAR,5640454,1910197,296,63

In [15]:
#want all stations, summed by total traffic over the 4 week period

1913632

In [44]:
min(df[df.TalliedEntries < 0]['TalliedEntries'])

-1961790095

In [45]:
df[df.TalliedEntries == -1961790095]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,TalliedEntries,TalliedExits
51044,N067,R012,00-03-00,34 ST-PENN STA,ACE,IND,05/03/2016,16:00:00,RECOVR AUD,2425094,164,-1961790095,-486935778

In [61]:
##want all rows without talliedexits or talliedentries < 0
dfFinal = df[df.TalliedExits > 0]

In [89]:
dfErrors = df[(df['TalliedEntries'] < 0 | (df['TalliedExits'] < 0))].groupby('STATION').min()

In [ ]:
dfErrors

80

In [74]:
dfNoErrors = df[(df['TalliedEntries'] >= 0 & (df['TalliedExits'] >= 0))]

In [90]:
dfErrors.to_csv('ErrorsBenson.csv')

In [ ]:
df